*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: rgb(40,175,176);
    background: linear-gradient(90deg, rgba(40,175,176,1) 0%, rgba(18,78,120,1) 100%);
}
.memeGen{
    align-items: center;
    text-align: center;
}
.memeGen img{
    height: 430px;
    object-fit: cover;
    margin: 5px;
}
.generateMemeButton{
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    background-color: rgba(40,175,176,1);
    color: white;
    cursor: pointer;
    font-size: 15px;
}
.memeAuthor{
    color: white;
    font-size: 15px;
    margin: 5px;
}
.memeTitle{
    color: whitesmoke;
    text-transform: capitalize;
    margin: 5px;
}